[character-table] {
  tbody>tr>th {
    vertical-align: middle;
  }
}

[character-table-isk-cell] {
  .successtext {
    color: green;
  }

  .losstext {
    color: darkred;
  }
}

[character-table-success-rate-cell] {
  color: white;

  .successtext {
    color: lime;
  }

  .losstext {
    color: red;
  }
}
