.table > tbody > tr > th.icon-background,
.table > tbody > tr > td.icon-background {
  background: {
    size: contain;
    repeat: no-repeat;
    position: center left;
  }
  padding-left: 32px;
}

.table-condensed {
  white-space: nowrap;

  td,
  th {
    padding: 5px;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;

  th {
    text-align: left;
  }

  thead tr {
    border-bottom: 1px solid white;
  }

  tbody tr {
    border-top: 1px solid white;
  }

  input[type="number"] {
    width: 100%;
    margin: -5px;
  }

  tr.success > td,
  tr.success > th,
  td.success,
  th.success {
    background-color: rgba(0, 255, 0, 0.2);
  }

  tr.danger > td,
  tr.danger > th,
  td.danger,
  th.danger {
    background-color: rgba(255, 0, 0, 0.2);
  }
}

.table-responsive {
  border: 0;
}
