@media (min-width:768px) {
  body {
    background-image: url(//eve.3t0.de/res/orcawarp_compressed.png);
  }
}

/*
 * Raw Umber (130, 102, 68)
 * Amber (255, 191, 0)
 */

h1, h2, h3, h4, h5, h6, strong, a, a:active, a:hover, a:focus, a:visited {
  color: rgb(130, 102, 68);
}

.navbar-inverse .navbar-nav > li > a:hover {
  background-color: rgb(130, 102, 68);
}

a:hover {
  color: rgb(255, 191, 0);
  filter: drop-shadow(0px 0px 5px rgb(255, 191, 0));
}
