<div class="table-responsive">
  <table class="table table-header-rotated table-condensed">
    <thead>
      <tr>
        <th>
          Player
        </th>
        <th class="text-center">
          <div>
            Ships
          </div>
        </th>
        <th class="text-center">
          <div>
            Points
          </div>
        </th>
        <th class="text-center">
          <div>
            ISK
          </div>
        </th>
        <th ng-repeat="id in groups | orderBy" class="rotate">
          <div>
            {{ groupName[id] || id }}
          </div>
        </th>
        <th class="text-right">
          Player
        </th>
      </tr>
    </thead>
    <tr ng-repeat="character in characters | orderBy: '-iskDestroyed'">
      <th>
        <a ng-href="//zKillboard.com/character/{{ character.id }}/" target="_blank">
          {{ character.info.name }}
        </a>
      </th>
      <td character-table-success-rate-cell destroyed="character.shipsDestroyed" lost="character.shipsLost"></td>
      <td character-table-success-rate-cell destroyed="character.pointsDestroyed" lost="character.pointsLost"></td>
      <td character-table-success-rate-cell destroyed="character.iskDestroyed" lost="character.iskLost"></td>
      <td ng-repeat="groupId in groups | orderBy" character-table-isk-cell object="character.groups[groupId]"></td>
      <th class="text-right">
        <a ng-href="//zKillboard.com/character/{{ character.id }}/" target="_blank">
          {{ character.info.name }}
        </a>
      </th>
    </tr>
    <tr ng-repeat="character in noInfoCharacters">
      <th>
        {{ character.info.name }}
      </th>
      <td>
        ?
      </td>
      <td>
        ?
      </td>
      <td>
        ?
      </td>
      <td ng-repeat="groupId in groups | orderBy" character-table-isk-cell object="character.groups[groupId]"></td>
      <th class="text-right">
        {{ character.info.name }}
      </th>
    </tr>
  </table>
</div>
