@media (min-width:768px) {
  body {
    background-image: url(/resources/backgrounds/confessorwarp.png);
  }

  $basecolor: #8b644b;
  $highlightcolor: #e7e4b8;
  $highlightinvertcolor: black;

  h1, h2, h3, h4, h5, h6, strong, a, a:active, a:hover, a:focus, a:visited {
    color: $basecolor;
  }

  .navbar a:hover {
    background-color: $highlightcolor;
    color: $highlightinvertcolor;
  }

  a:hover {
    color: $highlightcolor;
    filter: drop-shadow(0px 0px 5px $highlightcolor);
  }
}
