<div id="iteminfo">
  <h1>Item Info</h1>
  <div build-cache-indicator class="top-right-corner" error="error" itemcount="items.length" stillloading="stillloading"></div>
  <input type="text" placeholder="Search for an item..." ng-model="q" autocorrect="off" autocapitalize="off" autocomplete="off" tabindex="1" autofocus />
  <div class="row">
    <div class="col-sm-4">
      <div ng-repeat="item in items | filter: q | limitTo: itemsInList" ng-click="selectitem(item)">
        <a href ng-click="selectitem(item)">
          <strong>{{item.type.name}}</strong> {{item.id}}
        </a>
        <br />
      </div>
      <div ng-show="( items | filter: q ).length > itemsInList">
        and {{ ( items | filter: q ).length - itemsInList }} more...
      </div>
    </div>
    <div class="col-sm-8">
      <div item-type-info item-id="currentitem.id"></div>
    </div>
  </div>
</div>
