<div class="iteminfolong">
  <style>
    body {
          background-image: url({{ render(item) }});
    }
  </style>

  <h1>
    <img ng-src="{{ icon(item.id) }}" alt="{{item.name}}" />
    {{ item.name }}
  </h1>
  {{ item.id }}<br />
  {{ html(item.description) }}
  <table>
    <tr ng-repeat="(key, value) in stringOnly(item)">
      <td>
        {{ key }}
      </td>
      <td>
        {{ value }}
      </td>
    </tr>
  </table>
  <div ng-repeat="key in keysOfObjects(item)">
    <strong>{{ key }}</strong>
    <pre>
      {{ item[key] | json }}
    </pre>
  </div>
  <div ng-show="item.dogma.attributes">
    <h3>Attributes</h3>
    <table>
      <tr ng-repeat="attribute in item.dogma.attributes">
        <td>
          {{ attribute.attribute.name }}
        </td>
        <td>
          {{ attribute.value }}
        </td>
      </tr>
    </table>
  </div>
  <div ng-show="item.dogma.effects">
    <h3>Effects</h3>
    <table>
      <tr ng-repeat="effect in item.dogma.effects">
        <td>
          {{ effect.effect.name }}
        </td>
        <td>
          {{ effect.isDefault }}
        </td>
      </tr>
    </table>
  </div>
  <div ng-repeat="key in keysOfObjects(item.dogma)">
    <strong>{{ key }}</strong>
    <pre>
      {{ item.dogma[key] | json }}
    </pre>
  </div>
</div>
